html, body {
    margin: 0;
    padding: 0;
  background: #1C1C1C;
}

#firstSection{
    background: linear-gradient(90deg, rgba(35,130,125,1) 0%, rgba(14,212,222,1) 21%, rgba(0,212,255,1) 75%);
    font-size: 1 rem;
    padding: 5px;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
    color: white;
    width: 50%;
}

#input-btn{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

#secondSection{
    background: #1F2937;
    font-size: 1 rem;
    padding: 5px;
    text-align: center;
    margin: 0px auto;
    border-radius: 10px;
    color: white;
    width: 50%;
    
}
